:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.contain {
	width: 100%;
  padding-right: 15px;
	padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.contain {
	width:90% ;
	display: flex;
	justify-content: space-around;
}
.first {
	width: 30%;
}
.second {
	width: 60%;
}

.emp-profile {
	padding: 3%;
	margin-top: 100px;
	margin-bottom: 3%;
	border-radius: 0.5rem;
	background: #fff;
}
.profile-img {
	text-align: center;
}
.profile-img img {
	width: 70%;
	height: 100%;
	border-radius: 12%;
}
.tab-pane {
	display: hidden;
}
.rem {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	font-weight: 300;
	line-height: 1.2
}
.rem2 {
	font-weight: 350;
	font-size: 1rem;
}
.profile-img .file {
	position: relative;
	overflow: hidden;
	margin-top: -20%;
	width: 70%;
	border: none;
	border-radius: 0;
	font-size: 15px;
	background: #212529b8;
}
.roww {
	display: flex;
	flex-direction: row;
  -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}
 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2,  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	/* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
}
.profile-head h5 {
	color: #333;
}
.profile-head h6 {
	color: #0062cc;
}
.profile-edit-btn {
	border: none;
	border-radius: 1.5rem;
	width: 70%;
	padding: 2%;
	font-weight: 600;
	color: #6c757d;
	cursor: pointer;
}
.proile-rating {
	font-size: 12px;
	color: #818182;
	margin-top: 5%;
}
.proile-rating span {
	color: #495057;
	font-size: 15px;
	font-weight: 600;
}
.profile-head .nav-tabs {
	margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
	font-weight: 600;
	border: none;
}
.profile-head .nav-tabs .nav-link.active {
	border: none;
	border-bottom: 2px solid #0062cc;
}
.profile-work {
	padding: 14%;
	margin-top: -15%;
}
.profile-work p {
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
}
.profile-work a {
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
}
.profile-work ul {
	list-style: none;
}
.profile-tab label {
	font-weight: 600;
}
.profile-tab p {
	font-weight: 600;
	color: #0062cc;
}
@media (max-width:600px){
	.contain{
		flex-direction: column;
	}
	.first {
		width: auto;
	}
	.row {
		flex-direction: column;
	}
}
.box{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.second-box {
	width: 30%;
}
.sideBar {     	
	/* position: fixed; */
}
/* above is the profile styling and below is the dasboard styling */
.logo-img {
	height: 40px;
	margin-bottom: .8em;
}
.navig a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: .9rem 1.5rem;
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
}

.navig a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}
.navig a:active {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}
.navig a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
.navig a:hover svg {
  color: var(--clr-grey-4);
}
.side-text{
	font-size: 1rem;
}
.logout {
	margin: 1em 3em;

}

@media (max-width:900px){
	.contain {
		width: 100%;
	}
	.sideBar {
		height: auto;
		position: fixed;
		width: 100%;
	}
	.hid {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		/* z-index: -1; */
	}
	body {
		overflow-x:hidden ;
	}
	.logo-2 {
		overflow-x: hidden;
		width: 100%;
		display: flex;
		padding: 0 .5em;
		justify-content: space-between;
		margin: 0 auto;
		background-color: #fff;
	}

	.navigi {
		position: absolute;
    right: 46vh;
    /* top: 8.43vh; */
    /* background:linear-gradient(to top,lightgreen,#282828) ; */
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    transform: translateX(100%);
		transition:transform 0.5s ease-in  ;
	}

	.navig-link {
		width: 100vw;
	}
	.dashContainer-box {
		/* margin-top: 2	em; */
		/* overflow-x: hidden; */
	}
	.dashContainer-nav {
		height: 2em;
		visibility: hidden;
	}
	.dashContainer-body {
		flex-direction: column;
	}
	.dashContainer-nav p {
		margin: 0;
	}
	.dash-content {
		padding: 1rem;
		font-size: 1.7rem;
	}
}
@keyframes navLinkfade{
	from {
		opacity:0;
		transform: translateX(50px);
	}
	to{
	opacity: 1;
	transform: translateX(0px);
	}
}
.dashContainer {
	display: flex;
	width: 100%;
}
.dashContainer-box {
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: rgb(241, 241, 241);
	width: 100%;
}
.avatar {
	width: 20px;
	border-radius: 50%;
	height:19px;
}
.dashContainer-body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 2.8em;
	
}
.dash-content {
	text-align: center;
	padding: 3rem;
	margin: .7rem;
	border-radius: 3%;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
	background-color: #fff;
}
.dash-content p {
	margin-bottom:.5rem ;
}
.dash-content button {
	font-weight: 500;
    font-size: .875rem;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .3s;
    transition-timing-function: linear;
		letter-spacing: .05em;
		color: #d23edd;
}
.dash-content h4  {
	color: #d23edd;
}
.dash-content a  {
	color: #d23edd;
}

.icon-circle {
	border-radius: 9999px;
	width: 3rem;
	height: 3rem;
	background-color: #ebf8ff;
}

@media (min-width:900px){
	.dashContainer .sideBar {
		overflow-y: hidden;
	}
	.dashContainer-nav {
		padding-top: 1em;
		padding-left:50em ; 
		background-color: rgb(255, 255, 255);
		box-shadow:0px 1px 1px #e2e2e2;
	}
	.dashContainer-nav-content {
		width: 50%;
		display: flex; 
		justify-content: space-around;
	}
	.navigi {
		box-shadow:0px 1px 1px #e2e2e2;
		/* position: fixed; */
	}
	.dash-content {
		width: 25%;
		font-size: 1.4rem;
	}
	.dashContainer-box {
		height: 100vh;
	}

}